<div class="form-group keyboard row">
  <div class="keyboard-1 row">
    <button class="col-sm-7 btn-keyboard" type="button" (click)="load('1');">1</button><button class="col-sm-8 btn-keyboard" type="button" (click)="load('2');">2</button><button  class="col-sm-9 btn-keyboard" type="button" (click)="load('3');">3</button>
  </div>
  <div class="keyboard-2">
    <button class="col-sm-7 btn-keyboard" type="button" (click)="load('4');">4</button><button class="col-sm-8 btn-keyboard" type="button" (click)="load('5');">5</button><button class="col-sm-9 btn-keyboard" type="button" (click)="load('6');">6</button>
  </div>
  <div class="keyboard-3">
    <button class="col-sm-7 btn-keyboard" type="button" (click)="load('7');">7</button><button class="col-sm-8 btn-keyboard" type="button"(click)="load('8');">8</button><button  class="col-sm-9 btn-keyboard"type="button" (click)="load('9');">9</button>
  </div>
  <div class="keyboard-4">
   <button class="col-sm-8 btn-keyboard" type="button"(click)="load('0');">0</button>
  </div>
</div>