

<div class="sec-info row">
  <h3 class="title-bal"> Balance </h3>
  <label class="label-bal">Numero de cuenta</label> <input type="text"  [(ngModel)]="creditCard" disabled="true">
  <label class="label-bal">Fecha de Vencimiento</label><input type="text" [(ngModel)]="fechaVencimiento" disabled="true">
  <label class="label-bal">Saldo</label><input type="number" [(ngModel)]="saldo" disabled="true">
  <div class="btn-clear-submit">
    <button class="btn-submit" type="button" (click)="atras();">Atras</button>
  </div>

</div>